{{ partial "header.html" . }}
<section class="major" id="nameplate">
    <header><h1>{{ .Title }}</h1></header>
    <ul id="contact">
        {{ range $type, $value := .Site.Data.frontmatter.contact }}
        {{ $partial := $type | printf "%s.html" }}
        <li>{{ partial $partial $value }}</li>
        {{ end }}
    </ul>
</section>
<section class="major" id="history">
    <header><h1>Experience</h1></header>
    {{ range .Pages }}
        {{ partial "job.html" . }}
    {{ end }}
</section>
{{ range $title, $data := .Site.Data.other }}
<section class="major extra">
    <header><h1>{{ $title }}</h1></header>
    <ul>
        {{ range $data }}
        <li>{{ . | safeHTML }}</li>
        {{ end }}
    </ul>
</section>
{{ end }}
<section class="major" id="skills">
    <header><h1>Skills</h1></header>
    <article>{{ delimit (sort .Site.Data.skills) ", " ", and " }}</article>
</section>
<section class="major" id="references">
    <header><h1>References</h1></header>
    <article>Available Upon Request</article>
</section>
{{ partial "footer.html" . }}